<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-9 mt-3">
            <h3 class="text-center mb-2">Form-Template</h3>
            <form #userForm="ngForm" (ngSubmit)="submitData(userForm)">
                <div class="row mt-5">
                    <div class="form-group mb-3 col-6">
                        <label class="ms-2 fw-bold">First Name:</label>
                        <input type="text" class="form-control" required name="fname" #firstname="ngModel" ngModel />
                        <label *ngIf="firstname && firstname?.touched && !firstname?.value" class="text-danger">
                            First name is required
                        </label>
                    </div>
                    <div class="form-group mb-3 col-6">
                        <label class="ms-2 fw-bold">Last Name:</label>
                        <input type="text" class="form-control" required name="lname" #lastname="ngModel" ngModel>
                        <label *ngIf="lastname && lastname?.touched && !lastname?.value" class="text-danger">
                            last name is required
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-3 col-6">
                        <label class="ms-2 fw-bold">E-mail Address</label>
                        <input type="Email" class="form-control" required name="email"
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" ngModel>
                        <label *ngIf="email && email?.touched && !email?.value" class="text-danger">
                            E-mail is required
                        </label>
                        <label *ngIf="email && email?.errors?.['pattern']" class="text-danger">
                            {{ email?.errors | json }}
                            E-mail is Invalid
                        </label>
                    </div>
                    <div class="form-group col-6 mb-3">
                        <label class="ms-2 fw-bold">Password :</label>
                        <input type="password" class="form-control" name="password"
                            pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8})" required #password="ngModel" ngModel />
                        <label *ngIf="password && password?.touched && !password?.value" class="text-danger">
                            Password is required
                        </label>
                        <label class="text-danger" *ngIf="password?.errors?.['pattern']">
                            {{ password?.errors | json }}
                            Password is invalid
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 mb-3">
                        <label class="ms-2 fw-bold">Age :</label>
                        <input type="number" class="form-control" min="18" name="age" required #Age="ngModel" ngModel />
                        <label *ngIf="Age && Age?.touched && !Age?.value" class="text-danger">
                            Age is required
                        </label>
                        <label class="text-danger" *ngIf="Age?.errors?.['min']">
                            {{ Age?.errors | json }}
                            Age is invalid
                        </label>
                    </div>
                    <div class="form-group col-6">
                        <label class="ms-2 fw-bold">Phone :</label>
                        <input type="tel" name="phone" required #phone="ngModel" ngModel
                            pattern="^((\\+91-?)|0)?[0-9]{10}$" class="form-control" />
                        <label *ngIf="phone && phone?.touched && !phone?.value" class="text-danger">
                            Phone is required
                        </label>
                        <label class="text-danger" *ngIf="phone?.errors?.['pattern']">
                            {{ phone?.errors | json }}
                            phone number is in valid
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <p class="fw-bold">Gender :</p>
                    <label>
                        <input type="radio" name="gender" #gender="ngModel" ngModel value="Male" />
                        Male
                    </label>&nbsp;
                    <label>
                        <input type="radio" name="gender" #gender="ngModel" ngModel value="Female" />
                        Female
                    </label>
                </div><br>
                <div class="row">
                    <p class="fw-bold">Hobbies :</p>
                    <div class="form-group">
                        <label *ngFor="let item of userHobbies">
                            <input type="checkbox" (change)="hobbyselected($event)" #hobbies="ngModel" ngModel [checked]="selectedHobbies.includes(item)" name="hobbies" [value]="item" />
                            {{ item }}&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group text-center mt-2">
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
                </div>
            </form>
            <!-- <p>Entered Values are: {{ userForm.value | json }}</p>
            <p>Selected hobbies: {{ selectedHobbies | json }}</p> -->
        </div>
    </div>
    <!-- <div class="table-reasponsive mt-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Age</th>
                    <th>Phone No</th>
                    <th>Gender</th>
                    <th>Hobbies</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userData">
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.password }}</td>
                    <td>{{ item.Age }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.hobbies }}</td>
                    <td>
                        <button class="btn btn-success me-2" (click)="getById(item.id)">Edit</button>
                        <button class="btn btn-danger me-2" (click)="deleteUser(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>