<div class="container-fluid">
    <ul class="nav nav-tabs navbar-dark  bg-dark ">
        <li class="nav-item">
            <a class="nav-link text-dark active fs-4 fw-bold" style="cursor:pointer;">Angular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/conditional">Conditions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/multiplication-table">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/Pipes">Pipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/forms-reactive">Forms-reactive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/forms-template">Forms-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-crud-student">Api-Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-crud-user">Api-user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-crud-product">Api-Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-student-template">Api-student-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-product-template">Api-product-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-user-template">Api-user-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/list">Routing-Crud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-token-based-crud">Api-token-crud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/parent-child">Parent-child</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/Rxjsparent-child">Rxjs-Parent-child</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/accordion">Accordion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/carousel">carousel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/model-crud">model-crud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/calendar">prime-ng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/docks">prime-ng Docks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" style="cursor:pointer;" (click)="logout()">Logout</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>


