<p>Select Options</p>
<select [(ngModel)]="currselection">
    <option [value]="item" *ngFor="let item of selcetionlist">
        {{item}}
    </option>
</select>

<p>=============== If ===============</p>

<div *ngIf="currselection == 'name' || currselection == 'name_age' || currselection == 'name_email'|| currselection == 'Show_all'"
    class="mt">Jeel
</div>
<div *ngIf="currselection == 'age' || currselection == 'name_age' || currselection == 'Show_all'" class="mt">21</div>
<div *ngIf="currselection == 'image' || currselection == 'Show_all'" class="mt">
    <img src="../../assets/images/butterfly.jpg" />
</div>
<div *ngIf="currselection == 'email' || currselection == 'name_email' || currselection == 'Show_all'" class="mt">
    jeel@gmail.com</div>

<p>=============== Else If ============</p>

<div *ngIf="currselection == 'name' else method">
    Currently name is selected
</div>

<ng-template #method>
    <div>This is else block</div>
</ng-template>

<p>=============== Switch =============</p>

<div [ngSwitch]="currselection">
    <p *ngSwitchCase="'name'">Jeel Jasoliya</p>
    <p *ngSwitchCase="'age'">21</p>
    <p *ngSwitchCase="'image'">
        <img src="../../assets/images/butterfly.jpg" />
    </p>
    <p *ngSwitchCase="'email'">jeel@gmail.com</p>
    <p *ngSwitchCase="'name_age'"></p>
    <p *ngSwitchCase="'name_email'"></p>
    <p *ngSwitchCase="'show_all'"></p>
    <p *ngSwitchDefault>This is default</p>
</div>

<p>============Input number ==============</p>

<input type="number" [(ngModel)]="selectedNumber" id="number" name="number" />&nbsp;
<button (click)="showValues()">Generater</button>