<div class="dock-window container mt-5">
    <p-dock [model]="dockBasicItems" position="bottom">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="80%">
        </ng-template>
    </p-dock>
    <p-dock [model]="dockBasicItems" position="top">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="80%">
        </ng-template>
    </p-dock>

    <p-dock [model]="dockBasicItems" position="left">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="80%">
        </ng-template>
    </p-dock>

    <p-dock [model]="dockBasicItems" position="right">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.icon" [alt]="item.label" width="80%">
        </ng-template>
    </p-dock>
</div>