<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3 class="text-center mb-4">Api Crud Token-Base</h3>
            <form [formGroup]="userForm" (ngSubmit)="submitData()">
                <div class="row">
                    <div class="form-group">
                        <label>Full Name:</label>
                        <input type="text" name="fname" formControlName="fullName" class="form-control">
                        <label
                            *ngIf="userForm.get('fullName') && userForm.get('fullName')?.touched && !userForm.get('fullName')?.value"
                            class="text-danger">
                            Full name is Required...
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label>E-mail:</label>
                        <input type="email" name="email" formControlName="email" class="form-control">
                        <label
                            *ngIf="userForm.get('email') && userForm.get('email')?.touched && !userForm.get('email')?.value"
                            class="text-danger">
                            email is Required...
                        </label>
                        <label *ngIf="userForm.get('email')?.errors?.['pattern']" class="text-danger">
                            {{ userForm.get('email')?.errors | json}} &nbsp;
                            email is in-valid.
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-6">
                        <label>Password:</label>
                        <input type="password" name="password" formControlName="password" class="form-control">
                        <label
                            *ngIf="userForm.get('password') && userForm.get('password')?.touched && !userForm.get('password')?.value"
                            class="text-danger">
                            Password is required...
                        </label>
                        <label *ngIf="userForm.get('password')?.errors?.['pattern']" class="text-danger">
                            {{ userForm.get('password')?.errors | json}}
                            password is in-valid.
                        </label>
                    </div>
                    <div class="form-group col-6">
                        <label>Confirm Password:</label>
                        <input type="password" name="cpassword" formControlName="cpassword" class="form-control">
                        <label
                            *ngIf="userForm.get('cpassword') && userForm.get('cpassword')?.touched && !userForm.get('cpassword')?.value"
                            class="text-danger">
                            Confirm password is required..
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <label>Mobile no:</label>
                        <input type="tel" name="phone" formControlName="mobileNumber" class="form-control">
                        <label
                            *ngIf="userForm.get('mobileNumber') && userForm.get('mobileNumber')?.touched && !userForm.get('mobileNumber')?.value"
                            class="text-danger">
                            mobile number is required..
                        </label>
                        <label *ngIf="userForm.get('mobileNumber')?.errors?.['pattern']" class="text-danger">
                            {{ userForm.get('mobileNumber')?.errors | json}}
                            mobile number is in-valid.
                        </label>
                    </div>
                </div>
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive mt-5">
        <table class="table table-info">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>password</th>
                    <th>mobileNumber</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userData">
                    <td>{{ item.fullName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.password }}</td>
                    <td>{{ item.mobileNumber }}</td>
                    <td>
                        <button class="btn btn-outline-success me-2" (click)="getById(item.id)">Edit</button>
                        <button class="btn btn-outline-danger me-2" (click)="deleteUser(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>