<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div appHighlights class="form-group">
                <label>Form</label>
            </div>
            <input class="form-control" [(ngModel)]="InputParams.from" type="number" />
        </div>
        <div class="col-md-5">
            <div appHighlights class="form-group">
                <label>To</label>
            </div>
            <input class="form-control" [(ngModel)]="InputParams.To" type="number" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-success mt-4" (click)="generate()">Generate</button>
        </div>
    </div>

    <div class="table-responsive" *ngFor="let item of counter"><br>
        Table of {{ item }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Input</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td>
                        {{ item }} x {{ row }} = {{ item * row }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>