<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-1">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/conditional" >Conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/multiplication-table">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Pipes">Pipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/forms-reactive">Forms-reactive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/forms-template">Forms-template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/api-crud-student">Api-Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/api-crud-user">Api-user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="product()">Api-Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list">Routing-Crud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- <label>First Name: </label>
<input type="text" name="firstName" [(ngModel)]="firstNameInput" />

<p>Entered name is {{ firstNameInput }}</p>

<label>Last Name: </label>
<input type="text" name="firstName" [(ngModel)]="lastNameInput" />

<p>Entered name is {{ lastNameInput }}</p>


<label>Select Color </label>
<select [(ngModel)]="selectedColor">
    <option value="">Select Colors</option>
    <option value="yellow">Yellow</option>
    <option value="lightblue">Blue</option>
    <option value="lightgreen">Green</option>
    <option value="brown">Brown</option>
    <option value="lightpink">pink</option>
</select>

<div style="width: 50px; height: 50px;" [style.background-color]="selectedColor"></div>

<div style="width: 50px; height: 50px;margin-top: 10px;" [ngStyle]="{ backgroundColor: getSelectedColor() }"></div>

<div style="width: 50px;height: 50px;margin-top: 10px;" [ngStyle]="{ backgroundColor: selectedColor }"></div>

<div style="width: 50px;height: 50px;margin-top: 10px;" [ngStyle]="{ backgroundColor: Colors }"></div>


<label>Select Class Color </label>
<select [(ngModel)]="selectedClassColor">
    <option value="">Select Colors</option>
    <option value="bg-yellow">Yellow</option>
    <option value="bg-lightblue">Blue</option>
    <option value="bg-lightgreen">Green</option>
    <option value="bg-brown">Brown</option>
</select>

<input type="number" [(ngModel)]="selectedNumber" />
<div class="w-50px" [ngClass]="selectedClassColor"></div>

<div class="w-50px"
    [ngClass]="selectedNumber == 0 ? 'bg-yellow' : selectedNumber == 1 ? 'bg-lightblue' : selectedNumber == 2 ? 'bg-lightgreen' : selectedNumber == 3 ? 'bg-brown' : ''">
</div>

<div class="w-50px"
    [ngClass]="getClass()">
</div>

<div class="w-50px"
    [ngClass]="getClassVar">
</div> 

<button (click)="showValues()">Show Selected Values</button> -->

<!-- ============================================== -->
<!-- <app-conditional></app-conditional> -->

<!-- ============================================== -->
<!-- <app-multiplication-table></app-multiplication-table> -->

<!-- ============================================== -->
<!-- <app-pipes></app-pipes> -->

<!-- ============================================== -->
<!-- <app-forms-reactive></app-forms-reactive> -->

<!-- ============================================== -->
<!-- <app-forms-template></app-forms-template> -->

<!-- ============================================== -->
<!-- <app-api-crud-student></app-api-crud-student> -->

<!-- ============================================== -->
<!-- <app-api-crud-product></app-api-crud-product> -->

<!-- ============================================== -->
<!-- <app-api-crud-user></app-api-crud-user> -->

<!-- ============================================== -->
<!-- <app-api-token-base-crud></app-api-token-base-crud> -->
<!-- https://iris-api.mycodelibraries.com/index.html -->

<!-- ============================================== -->
<!-- <app-api-student-template></app-api-student-template> -->

<!-- ============================================== -->
<!-- <app-go-rest></app-go-rest> -->

<router-outlet></router-outlet>