<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Right Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar2 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar2 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
    <ul class="nav nav-tabs navbar-dark  bg-dark ">
        <li class="nav-item">
            <a class="nav-link text-dark active fs-4 fw-bold" style="cursor:pointer;">Angular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/conditional">Conditions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/multiplication-table">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/Pipes">Pipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/forms-reactive">Forms-reactive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/forms-template">Forms-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-crud-student">Api-Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-crud-user">Api-user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-crud-product">Api-Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-student-template">Api-student-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-product-template">Api-product-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-user-template">Api-user-template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/list">Routing-Crud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/api-token-based-crud">Api-token-crud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/parent-child">Parent-child</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/Rxjsparent-child">Rxjs-Parent-child</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/accordion">Accordion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/carousel">carousel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/model-crud">model-crud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/calendar">prime-ng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/docks">prime-ng Docks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/app/highcharts">Highcharts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" style="cursor:pointer;" (click)="logout()">Logout</a>
        </li>
    </ul>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Bottom Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar4 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar4 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Full Screen Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar5 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar5 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>
<div class="container-fluid text-center mt-3">
    <p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>&nbsp;
    <p-button type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>&nbsp;
    <p-button type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></p-button>&nbsp;
    <p-button type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></p-button>&nbsp;
    <p-button type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>&nbsp;
</div>
<router-outlet></router-outlet>