<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 mt-3">
            <h3 class="text-center">: Api Crud product :</h3>
            <form [formGroup]="userForm" (ngSubmit)="submitData()">
                <div class="form-group col-6">
                    <label>Category</label>
                    <select class="form-select" name="category" formControlName="category" (change)="changecategory($event)">
                        <option *ngFor="let item of category">
                            {{item}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-6 mt-4">
                    <label>Product name:</label>
                    <input type="text" class="form-control" required name="pname" formControlName="productName">
                    <label *ngIf="userForm.get('productName') && userForm.get('productName')?.touched && !userForm.get('productName')?.value" class="text-danger">
                        Product name is required..
                    </label>
                </div>
                <div class="form-group col-6 mt-3">
                    <label>Price:</label>
                    <input type="text" name="" class="form-control" required name="Price" formControlName="price">
                    <label *ngIf="userForm.get('price') && userForm.get('price')?.touched && !userForm.get('price')?.value" class="text-danger">
                        Price is required..
                    </label>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-6">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" formControlName="description"></textarea>
                        <label *ngIf="userForm.get('description') && userForm.get('description')?.touched && !userForm.get('description')?.value" class="text-danger">
                            description is required..
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="form-group">
                            <label>ClothSize</label>
                            <select class="form-select" name="sizes" formControlName="clothSize" (change)="changeSize($event)">
                                <option *ngFor="let size of clothSize">
                                    {{size}}
                                  </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="fw-bold mt-3">In Stock</label> <br>
                        <label>
                            <input type="radio" name="stock" formControlName="inStock" value="yes">
                            Yes
                        </label>&nbsp;
                        <label>
                            <input type="radio" name="stock" formControlName="inStock" value="No">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive mt-5">
        <table class="table table-info">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Cloth Size</th>
                    <th>In Stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userData">
                    <td>{{item.category}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.clothSize}}</td>
                    <td>{{item.inStock}}</td>
                    <td>
                        <button class="btn btn-outline-success me-2" (click)="getById(item.id)">Edit</button>
                        <button class="btn btn-outline-danger me-2" (click)="deleteUser(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>