<p>child works!</p>
<p class="fw-bold">Name is {{ name }}</p>
<p>{{childdata}}</p>
<p>{{childdata1}}</p>
<p>{{childdata2}}</p>

<button class="btn btn-primary" (click)="update()">Update Parent Value</button>
<hr>
<app-child-one [childdata]="name" (childupdate)="childupdate($event)" (parentupdate)="parentupdate($event)"></app-child-one>
<app-child-two [childdata1]="name" (childupdate)="childupdate($event)" (childupdate1)="childupdate1($event)" (parentupdate)="parentupdate($event)"></app-child-two>
<app-child-three [childdata2]="name" (childupdate)="childupdate($event)" (childupdate1)="childupdate1($event)" (childupdate2)="childupdate2($event)" (parentupdate)="parentupdate($event)"></app-child-three>
