<p>value of parent in child 4 is : {{ childdata3 }}</p>
<button class="btn btn-warning"(click)="updateparent()">update parent</button>&nbsp;
<button class="btn btn-info" (click)="updatechild()">update child</button>&nbsp;
<button class="btn btn-success" (click)="updatechild1()">update child-1</button>&nbsp;
<button class="btn btn-primary" (click)="updatechild2()">update child-2</button>&nbsp;
<button class="btn btn-secondary" (click)="updatechild3()">update child-3</button>&nbsp;
<button class="btn btn-danger" (click)="clearall()">Clear All</button> 




